main{ 
    width: 940px;
    margin: 0 auto;    
}

form{
    margin: 40px 0 ;
    position: relative;
}

form label, form legend{ 
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{ 
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.fielset{ 
    margin: 20px 0;
}

.botao-submeter{ 
    width: 40%;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    color: aliceblue;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.botao-submeter:hover{ 
    background:darkorange;
    transform: scale(1.2);
}
.botao-submeter:active{
    background-color: black;
}

table{ 
    margin: 20px 0 40px;
    bottom: 50px;
    width: 40%;
    position: absolute;
    right: 200px;
    left: 550px;
    top: 630px;
}

thead{ 
    background: #555555;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

td,th{ 
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    padding: 8px 15px;;
}